<nav class="flex items-center justify-between h-16 w-full py-2 bg-dark-green">
    <div class="ml-4">
        <a routerLink="/dashboard">
            <h1 class="text-lg font-bold text-white">CalTracker</h1>
        </a>
    </div>
    <div class="flex space-x-4 mr-4">
        <a *ngIf="loggedIn"
            class="block text-white font-semibold py-2 px-4 rounded-md hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green"
            routerLink="/dashboard">Dashboard</a>
        <a *ngIf="loggedIn"
            class="block bg-gray-800 text-white font-semibold py-2 px-4 rounded-md hover:bg-beige hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green mx-5 cursor-pointer"
            routerLink="" (click)="logout()">Logout</a>
        <a *ngIf="!loggedIn"
            class="block bg-gray-800 text-white font-semibold py-2 px-4 rounded-md hover:bg-beige hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green cursor-pointer"
            routerLink="/register">Registreren</a>
        <a *ngIf="!loggedIn"
            class="block bg-gray-800 text-white font-semibold py-2 px-4 rounded-md hover:bg-beige hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green cursor-pointer"
            routerLink="/login">Login</a>
    </div>
</nav>