<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="space-y-4 max-w-xl mx-auto">
    <div class="flex flex-col md:flex-row md:space-x-4">
        <div class="w-full">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="john@doe.com"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
        </div>
        <div class="w-full mt-4 md:mt-0">
            <label for="password" class="block text-sm font-medium text-gray-700">Wachtwoord</label>
            <input type="password" id="password" [(ngModel)]="password" name="password"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
        </div>
    </div>
    <div *ngIf="invalidCredentials" class="text-red-500">
        Verkeerde email of wachtwoord.
    </div>
    <div>
        <button type="submit"
            class="w-full bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-green">
            Inloggen
        </button>
    </div>
</form>
