<!-- The individuals and entities who reproduce or re-use information, 
 data and/or photos from the Open Food Facts site or database have to mention the licence and to attribute the authorship to Open Food Facts with a link to https://openfoodfacts.org, 
 the appropriate local version (e.g. https://en.openfoodfacts.org) or the product page, when the information and data reproduced or re-used pertain to a specific product. 
 Such attribution is also necessary for derivative works. -->

<footer class="bg-dark-green w-full p-4 text-white">
    <div class="container mx-auto text-center">
      <div class="mb-4">
        <p>Copyright © JAMGM. Alle rechten voorbehouden.</p>
      </div>
  
      <div class="text-sm text-gray-300">
        <p>Deze applicatie hergebruikt gegevens van <a href="https://openfoodfacts.org" class="underline text-light-green">Open Food Facts</a>, beschikbaar onder de volgende licenties:</p>
        
        <ul class="list-disc list-inside mt-2">
          <li><a href="https://opendatacommons.org/licenses/odbl/" class="underline text-light-green">Open Database Licentie</a> voor de Open Food Facts database.</li>
          <li><a href="https://opendatacommons.org/licenses/dbcl/" class="underline text-light-green">Database Inhoud Licentie</a> voor individuele inhoud van de database.</li>
          <li><a href="https://creativecommons.org/licenses/by-sa/3.0/" class="underline text-light-green">Creative Commons Naamsvermelding-GelijkDelen Licentie</a> voor productafbeeldingen.</li>
        </ul>
        
        <p class="mt-4">
          Let op: andere rechten van derden (zoals auteursrecht op productontwerpen of handelsmerken) kunnen van toepassing zijn op de gebruikte afbeeldingen en gegevens. Het is de verantwoordelijkheid van gebruikers om eventuele extra rechten te controleren voordat ze hergebruiken.
        </p>
      </div>
    </div>
  </footer>
  