<div class="flex flex-col lg:flex-row">
    <div class="basis-1/2 px-5">
        <!-- on the left side of the page -->
        <div class="mb-5">
            <h2 class="font-semibold text-xl border-b-4 mb-2 border-vibrant-green">Voeg eigen product toe</h2>
            <!-- form to create custom food product -->
            <form (ngSubmit)="createAndLogNewCustomFoodProduct()" #userForm="ngForm" class="space-y-0 sm:space-y-4">
                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="productName" class="block text-sm font-medium text-gray-700">Product naam*:</label>
                        <input type="text" id="productName" [(ngModel)]="newCustomFoodProduct.productName"
                            name="productName" placeholder="Caesarsalade" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                                   ng-touched ng-invalid:border-red-500" #productName="ngModel" />
                        <div *ngIf="productName.invalid && productName.touched" class="text-red-500">
                            Product naam is verplicht om in te vullen.
                        </div>
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="servingSize" class="block text-sm font-medium text-gray-700">Portie grootte in
                            gram*:</label>
                        <input type="number" id="servingSize" [(ngModel)]="newCustomFoodProduct.servingSize"
                            name="servingSize" placeholder="100" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                                   ng-touched ng-invalid:border-red-500" #servingSize="ngModel" />
                        <div *ngIf="servingSize.invalid && servingSize.touched" class="text-red-500">
                            Portie grootte is verplicht om in te vullen.
                        </div>
                    </div>
                </div>
                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="gramsConsumed" class="block text-sm font-medium text-gray-700">Gram
                            geconsumeerd*:</label>
                        <input type="number" id="gramsConsumed" [(ngModel)]="gramsConsumed" name="gramsConsumed"
                            placeholder="100" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                            ng-touched ng-invalid:border-red-500" #gramsConsumedInput="ngModel" />
                        <div *ngIf="gramsConsumedInput.invalid && gramsConsumedInput.touched" class="text-red-500">
                            Gram geconsumeerd is verplicht om in te vullen.
                        </div>
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="logDate" class="block text-sm font-medium text-gray-700">Log datum:</label>
                        <input type="date" id="logDate" [(ngModel)]="logDate" name="logDate"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm">
                    </div>
                </div>

                <!-- Nutriments -->
                <h2 class="font-semibold text-lg">Voedingsstoffen, probeer zoveel mogelijk in te vullen</h2>

                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="energyKcal100g" class="block text-sm font-medium text-gray-700">Energy/kcal per
                            100g*</label>
                        <input type="number" id="energyKcal100g" [(ngModel)]="newNutriments.energyKcal100g"
                            name="energyKcal100g" step="0.1" placeholder="0.5" required
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="proteins100g" class="block text-sm font-medium text-gray-700">Proteïne/eiwitten per
                            100g</label>
                        <input type="number" id="proteins100g" [(ngModel)]="newNutriments.proteins100g"
                            name="proteins100g" step="0.1" placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                </div>
                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="carbohydrates100g" class="block text-sm font-medium text-gray-700">Koolhydraten per
                            100g</label>
                        <input type="number" id="carbohydrates100g" [(ngModel)]="newNutriments.carbohydrates100g"
                            name="carbohydrates100g" step="0.1" placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="sugars100g" class="block text-sm font-medium text-gray-700">Suikers per 100g</label>
                        <input type="number" id="sugars100g" [(ngModel)]="newNutriments.sugars100g" name="sugars100g"
                            step="0.1" placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                </div>
                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="fat100g" class="block text-sm font-medium text-gray-700">Vet per 100g</label>
                        <input type="number" id="fat100g" [(ngModel)]="newNutriments.fat100g" name="fat100g" step="0.1"
                            placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="saturatedFat100g" class="block text-sm font-medium text-gray-700">Verzadigd vet per
                            100g</label>
                        <input type="number" id="saturatedFat100g" [(ngModel)]="newNutriments.saturatedFat100g"
                            name="saturatedFat100g" step="0.1" placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                </div>
                <div class="flex space-x-0 flex-col sm:flex-row sm:space-x-4">
                    <div class="w-full sm:w-1/2">
                        <label for="fiber100g" class="block text-sm font-medium text-gray-700">Vezels per 100g</label>
                        <input type="number" id="fiber100g" [(ngModel)]="newNutriments.fiber100g" name="fiber100g"
                            step="0.1" placeholder="0.5"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                    <div class="w-full sm:w-1/2">
                        <label for="sodium100g" class="block text-sm font-medium text-gray-700">Natrium per 100g</label>
                        <input type="number" id="sodium100g" [(ngModel)]="newNutriments.sodium100g" name="sodium100g"
                            step="0.1" placeholder="0.5"
                            class="mt-1 mb-2 sm:mb-0 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm" />
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" [disabled]="userForm.invalid" class="w-full bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green
                        disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Eigen product toevoegen en loggen
                    </button>
                </div>
            </form>
        </div>
        <div class="container mx-auto py-4">
            <div class="flex items-center mb-4 border-b-4 border-vibrant-green">
                <div class="w-1/2">
                    <h2 class="font-semibold text-xl ">Eigen eet items</h2>
                </div>
                <div class="w-1/2 flex flex-col sm:flex-row items-center justify-end text-sm sm:text-base">
                    <label for="logDate" class="mr-2 font-medium text-gray-700">Log datum:</label>
                    <input type="date" id="logDate" [(ngModel)]="logDate" name="logDate"
                        class="px-3 py-1.5 mb-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm">
                </div>
            </div>
            <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-6 overflow-y-auto max-h-[29rem]">
                <div *ngFor="let foodProduct of usersCustomFoodProducts"
                    class="p-4 bg-white border rounded-md shadow-md space-y-4">
                    <ul>
                        <li class="font-bold">Product naam: {{foodProduct.productName}}</li>
                        <li>Portiegrootte: {{foodProduct.servingSize}}</li>
                        <li>Voedingsstoffen:</li>
                        <li>
                            <ul class="list-disc list-inside space-y-0">
                                <li>Energie: {{foodProduct.nutriments.energyKcal100g}}</li>
                                <li>Proteïne: {{foodProduct.nutriments.proteins100g}}</li>
                                <li>Koolhydraten: {{foodProduct.nutriments.carbohydrates100g}}</li>
                                <li>Suikers: {{foodProduct.nutriments.sugars100g}}</li>
                                <li>Vet: {{foodProduct.nutriments.fat100g}}</li>
                                <li>Verzadigd vet: {{foodProduct.nutriments.saturatedFat100g}}</li>
                                <li>Vezels: {{foodProduct.nutriments.fiber100g}}</li>
                                <li>Natrium: {{foodProduct.nutriments.sodium100g}}</li>
                            </ul>
                        </li>
                    </ul>
                    <label for="gramsConsumed" class="block font-medium text-gray-700">Gram geconsumeerd:</label>
                    <input type="number" id="gramsConsumed" [(ngModel)]="foodProduct.gramsConsumed" name="gramsConsumed"
                        placeholder="100" required class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                        ng-touched ng-invalid:border-red-500" #gramsConsumedCustomFoodProductInput="ngModel" />
                    <div *ngIf="gramsConsumedCustomFoodProductInput.invalid && gramsConsumedCustomFoodProductInput.touched"
                        class="text-red-500">
                        Gram geconsumeerd is verplicht om in te vullen.
                    </div>
                    <button (click)="logCustomFoodProductById(foodProduct.id)"
                        [disabled]="!foodProduct.gramsConsumed || foodProduct.gramsConsumed === 0" class="w-full bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green mt-auto
                        disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Log dit product
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="basis-1/2">
        <!-- on the right side of the page -->
        <div class="flex-row mb-2">
            <div class="w-full mb-[11px]">
                <h2 class="font-semibold text-xl border-b-4 mb-2 border-vibrant-green">Zoeken naar product</h2>
            </div>

            <!-- Search input -->
            <div class="mb-[18px]">
                <label for="searchTerms" class="block text-sm font-medium text-gray-700">Zoek termen:</label>
                <div class="w-full flex items-center space-x-2">
                    <div class="relative flex-grow">
                        <input type="text" id="searchTerms" name="searchTerms" [(ngModel)]="searchTerms"
                            (keyup.enter)="searchFoodProducts(1)"
                            class="block w-full pl-10 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm"
                            placeholder="Search..." />

                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
                            <i class="fa fa-search text-green cursor-pointer" (click)="searchFoodProducts(1)"></i>
                        </div>
                    </div>

                    <button [disabled]="searchTerms == ''" (click)="searchFoodProducts(1)" class="px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-green focus:ring-offset-2 
                bg-green hover:bg-light-green text-white font-semibold disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Zoek
                    </button>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-end">
                <!-- Barcode input -->
                <div class="w-full lg:w-1/2 2xl:w-3/4">
                    <label for="searchTerms" class="block text-sm font-medium text-gray-700">Barcode:</label>
                    <div class="w-full flex items-center space-x-2">
                        <div class="relative flex-grow">
                            <input type="text" id="searchTerms" name="searchTerms" [(ngModel)]="barcode"
                                (keyup.enter)="findFoodProductByBarcode()"
                                class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm"
                                placeholder="5059883097480" />
                        </div>

                        <button [disabled]="barcode == ''" (click)="findFoodProductByBarcode()" class="px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-green focus:ring-offset-2 
                bg-green hover:bg-light-green text-white font-semibold disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Zoek
                        </button>
                    </div>
                </div>
                <!-- Barcode scanner button -->
                <div class="w-full lg:w-1/2 mt-2 md:ml-2 2xl:w-1/4">
                    <button (click)="turnScannerOn()" class="px-4 py-2 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-green focus:ring-offset-2 
                    bg-green hover:bg-light-green text-white font-semibold">
                    Scan barcode</button>
                </div>
            </div>
            <div *ngIf="scannerEnabled" class="mt-5 border-4 border-green">
                <zxing-scanner [enable]="scannerEnabled" [formats]="allowedFormats"
                    (scanSuccess)="scanSuccessHandler($event)" (scanError)="scanErrorHandler($event)" 
                    (scanFailure)="scanFailureHandler()"></zxing-scanner>
            </div>
        </div>

        <div class="container mx-auto py-4">
            <div class="flex items-center mb-4 border-b-4 border-vibrant-green">
                <div class="w-1/2">
                    <h2 class="font-semibold text-xl ">Zoek resultaten</h2>
                </div>
                <div class="w-1/2 flex flex-col sm:flex-row items-center justify-end text-sm sm:text-base">
                    <label for="logDate" class="mr-2 text-gray-700">Log datum:</label>
                    <input type="date" id="logDate" [(ngModel)]="logDate" name="logDate"
                        class="px-3 py-1.5 mb-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm">
                </div>
            </div>
            <!-- loading spinner -->
            <div>
                <div *ngIf="loading" class="spinner"></div>
            </div>

            <div *ngIf="searchedBarcode" class="p-4 bg-white border rounded-md shadow-md flex flex-col space-y-4">
                <ul class="flex-grow">
                    <li class="font-bold">Product naam: {{barcodeFoodItem!.productName}}</li>
                    <li>Categorieën: {{barcodeFoodItem!.categories}}</li>
                    <li>Portiegrootte: {{barcodeFoodItem!.servingSize}}</li>
                    <li>Voedingsstoffen:</li>
                    <li>
                        <ul class="list-disc list-inside space-y-0">
                            <li>Energie: {{barcodeFoodItem!.nutriments.energyKcal100g}}</li>
                            <li>Proteïne: {{barcodeFoodItem!.nutriments.proteins100g}}</li>
                            <li>Koolhydraten: {{barcodeFoodItem!.nutriments.carbohydrates100g}}</li>
                            <li>Suikers: {{barcodeFoodItem!.nutriments.sugars100g}}</li>
                            <li>Vet: {{barcodeFoodItem!.nutriments.fat100g}}</li>
                            <li>Verzadigd vet: {{barcodeFoodItem!.nutriments.saturatedFat100g}}</li>
                            <li>Vezels: {{barcodeFoodItem!.nutriments.fiber100g}}</li>
                            <li>Natrium: {{barcodeFoodItem!.nutriments.sodium100g}}</li>
                        </ul>
                    </li>
                </ul>
                <label for="gramsConsumed" class="block font-medium text-gray-700">Gram geconsumeerd:</label>
                <input type="number" id="gramsConsumed" [(ngModel)]="barcodeFoodItem!.gramsConsumed"
                    name="gramsConsumed" placeholder="100" required class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                    ng-touched ng-invalid:border-red-500" #gramsConsumedCustomFoodProductInput="ngModel" />
                <div *ngIf="gramsConsumedCustomFoodProductInput.invalid && gramsConsumedCustomFoodProductInput.touched"
                    class="text-red-500">
                    Gram geconsumeerd is verplicht om in te vullen.
                </div>
                <button (click)="logFoodProductByBarcode(barcodeFoodItem!.id, barcodeFoodItem!.gramsConsumed)"
                    [disabled]="!barcodeFoodItem!.gramsConsumed || barcodeFoodItem!.gramsConsumed === 0" class="w-full bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green mt-auto
                    disabled:bg-gray-400 disabled:cursor-not-allowed">
                    Log dit product
                </button>
            </div>

            <div *ngIf="searched"
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 overflow-y-auto max-h-[50rem]">
                <div *ngFor="let item of searchResults?.products"
                    class="p-4 bg-white border rounded-md shadow-md flex flex-col overflow-x-auto space-y-4">
                    <ul class="flex-grow">
                        <li class="font-bold">Product naam: {{item.productName}}</li>
                        <li>Categorieën: {{item.categories}}</li>
                        <li>Portiegrootte: {{item.servingSize}}</li>
                        <li>Voedingsstoffen:</li>
                        <li>
                            <ul class="list-disc list-inside space-y-0">
                                <li>Energie: {{item.nutriments.energyKcal100g}}</li>
                                <li>Proteïne: {{item.nutriments.proteins100g}}</li>
                                <li>Koolhydraten: {{item.nutriments.carbohydrates100g}}</li>
                                <li>Suikers: {{item.nutriments.sugars100g}}</li>
                                <li>Vet: {{item.nutriments.fat100g}}</li>
                                <li>Verzadigd vet: {{item.nutriments.saturatedFat100g}}</li>
                                <li>Vezels: {{item.nutriments.fiber100g}}</li>
                                <li>Natrium: {{item.nutriments.sodium100g}}</li>
                            </ul>
                        </li>
                    </ul>
                    <label for="gramsConsumed" class="block font-medium text-gray-700">Gram geconsumeerd:</label>
                    <input type="number" id="gramsConsumed" [(ngModel)]="item.gramsConsumed" name="gramsConsumed"
                        placeholder="100" required class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green focus:border-green sm:text-sm
                        ng-touched ng-invalid:border-red-500" #gramsConsumedCustomFoodProductInput="ngModel" />
                    <div *ngIf="gramsConsumedCustomFoodProductInput.invalid && gramsConsumedCustomFoodProductInput.touched"
                        class="text-red-500">
                        Gram geconsumeerd is verplicht om in te vullen.
                    </div>
                    <button (click)="logFoodProductByBarcode(item.id, item.gramsConsumed)"
                        [disabled]="!item.gramsConsumed || item.gramsConsumed === 0" class="w-full bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green mt-auto
                        disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Log dit product
                    </button>
                </div>
            </div>
            <div *ngIf="searched" class="flex justify-between mt-4">
                <button [disabled]="currentPage == 1" (click)="searchFoodProducts(currentPage - 1)"
                    class="disabled:bg-gray-400 disabled:cursor-not-allowed bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-green">
                    Vorige
                </button>
                <span>Pagina: {{currentPage}}, aantal pagina's: {{totalPages}}</span>
                <button [disabled]="currentPage >= totalPages" (click)="searchFoodProducts(currentPage + 1)"
                    class="disabled:bg-gray-400 disabled:cursor-not-allowed bg-green text-white font-semibold py-2 px-4 rounded-md hover:bg-light-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-green">
                    Volgende
                </button>
            </div>
        </div>
    </div>
</div>